@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
Media Queries auf 600px width 
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;
Farbe: #2e2e2e / #fff / #000 / #1d2c2f 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Lora', serif;
}

header section {
    display: flex;
    align-items: center;
}

header section div {
    text-align: center;
    flex-basis: 50%;
}

header section h1 {
    font-size: 7.2rem;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 2vh;
}

header section h2 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/* NAV */
nav {
    position: sticky;
    top: 0px;
    background-color: #2e2e2e;
    color: #fff;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: lime;
}

nav img {
    height: 55px;
    margin-left: 1vw;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    margin: auto 5.4vw 5vh 5.4vw;
}

/* MAIN */

main>section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #2e2e2e;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

main>section img {
    flex-basis: 55vw;
}

main>section div {
    padding: 3vh 3vw;
    color: white;
    flex-basis: 45vw;
}

main>section div h3 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    margin: 4vh auto 2vh auto;
}

main>section div p {
    font-size: 1.7rem;
    font-family: 'Work Sans', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 3.4rem;
    padding-bottom: 3.3vh;
}

main>article {
    padding-bottom: 20vh;
}

main>article h3 {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    margin: 25vh auto 1vh auto;
}

main>article p {
    font-size: 1.7rem;
    font-family: 'Work Sans', sans-serif;
    word-spacing: 6px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 3.4rem;
    margin: 0 auto 10vh auto;
    width: 44%;
    color: #2e2e2e;
}

main>article div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main>article div section p {
    text-align: center;
    width: 90%;
}

main>article div section img {
    width: 400px;
    margin: 10px 25px 0 25px;
}

main>article div iframe {
    width: 420px;
    height: 280px;
    border: none;
}

main>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20vh 12vw 10vh 10vw;
    color: white;
    background-color: #2e2e2e;
}

main div article {
    flex-basis: 48%;
}

main>div article h3 {
    font-size: 4.2rem;
    font-weight: 500;
    margin: 4vh auto 2vh auto;
    letter-spacing: 2px;
}

main>div article p {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 3.4rem;
    padding-bottom: 3.3vh;
}

main>div form {
    color: #fff;
    flex-basis: 33%;
    font-size: 1.6rem;
}

main>div form label {
    letter-spacing: 1px;
}

main>div form input {
    width: 100%;
    line-height: 2rem;
    margin-bottom: 2.2vh;
    font-size: .8rem;
    padding-left: 0.5vw;
}

main>div form input:nth-of-type(3) {
    height: 4rem;
}

main div form input:nth-of-type(4) {
    width: fit-content;
    margin-bottom: 2.2vh;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 8px 8px 8px;
}


/* FOOTER */
footer {
    height: 76px;
    background: #1d2c2f;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer article {
    margin: auto 5vw;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

footer article h3 {
    font-weight: 300;
    letter-spacing: 2px;
}

footer ul {
    margin: auto 5vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
}

footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
}


@media only screen and (max-width:600px) {
    header>section {
        flex-wrap: wrap;
    }

    header>section img {
        width: 100%;
    }

    header>section div {
        margin: 0 auto;
    }

    header nav ul li a {
        margin: auto 3vw 5vh 3vw;
    }

    main>section {
        justify-content: center;
    }

    main section img {
        width: 100%;
    }

    main>section div h3 {
        text-align: left;
    }

    main>div {
        justify-content: center;
    }

    main>div article {
        flex-basis: 100%;
    }

    main>div form {
        flex-basis: 100%;
    }

    footer article {
        font-size: 0.9rem;
        text-align: center;
    }

    footer ul {
        justify-content: space-between;
        flex-basis: 75%;
    }

    footer ul li a {
        font-size: 1.2rem;
    }
}